@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0px;
    background-color: #F9FBF2;
    color: #0A0F0D;
}
header{
    padding: 5px;
    background-color: #648DE5;
    color: #F9FBF2;
    text-align: center;
}
h1{
    font: normal normal 3em 'Satisfy', Georgia, 'Times New Roman', Times, serif;
}
header li{
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: #F9FBF2;
}
header ul{
    display: flex;
    justify-content: space-evenly;
}
header li a:hover{
    color: #2f394d;
}
p{
    text-align: left;
    padding: 15px;
    text-indent: 10px;
}
main h1{
    text-decoration: underline #e63946;
    margin-left: 50px;
}
div.esquerda{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.esquerda img{
    grid-column: 1/3;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.esquerda p{
    grid-column: 1/3;
    margin-top: 0px;
    padding-top: 0px;
}
#logo{
    width: 10%;
    border-radius: 50%;
}